<template>
  <div>
    <h2>Audit Log Viewer</h2>
    <DataTable
      :value="logRows"
      :rows="10"
      :row-hover="true"
      filter-display="menu"
      :loading="loading"
      paginator-template="FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink CurrentPageReport RowsPerPageDropdown"
      :rows-per-page-options="[10,25,50]"
      current-page-report-template="Showing {first} to {last} of {totalRecords} entries"
      :global-filter-fields="['name','country.name','representative.name','status']"
      responsive-layout="scroll"
    >
      <Column
        style="text-align: left"
        :sortable="true"
        field="id"
        header="ID"
      />
      <Column
        style="text-align: left"
        :sortable="true"
        field="timestamp"
        header="Timestamp"
      />
      <Column
        style="text-align: left"
        :sortable="true"
        field="event_source"
        header="Source"
      />
      <Column
        style="text-align: left"
        :sortable="true"
        field="event_type"
        header="Event Type"
      />
      <Column
        style="text-align: left"
        :sortable="true"
        field="message"
        header="Message"
      />
    </DataTable>
  </div>
</template>

<script>
import { ref } from 'vue'
import { fetchLogs } from '@/services/auditLog'

export default {
  name: 'LogTable',
  setup () {
    const logRows = ref([])
    const loading = ref(false)

    fetchLogs().then(data => {
      logRows.value = data
    })

    return { logRows, loading }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
